table tbody {
  display: table;
  width: 75%;
}

.fixed_header {
  width: 1000px;
  margin-left: 40px;
  padding-left: 0;
  table-layout: fixed;
  border-collapse: collapse;

}

.listBox {
  overflow: scroll;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;

}

.fixed_header thead tr {
  display: flex;
  padding-left: 25px;
  column-gap: 30px;
}

.fixed_header thead {
  color: #416899;
  background-color: white;
  border-radius: 10px;
}

.fixed_header th,
.fixed_header td {
  padding: 5px;

}

#btn {
  background-color: #416899;
  color: #F5FAF5;
  width: 70px;
  border-radius: 10px;
  border: 1px solid #416899;
  transition-duration: 0.4s;
}

#btn:hover {
  background-color: #F5FAF5;
  color: #416899;
}

tr {
  padding-left: 20px;
}

i {
  color: gray;
}

.containerr {
  display: flex;
  column-gap: 20px;
  margin-top: 15px;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.propertylist {
  margin-left: 20px;
  color: black;
}

.image {
  margin-left: 20px;
  align-items: center;
}

.mobile {
  margin-left: 40px;
}

.area {
  margin-right: 0px;
}

/*
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}*/
th,
td {
  border-color: #96D4D4;
}

td {
  text-align: center;
  margin-left: 20px;
}

table,
td,
th {

  width: 300px;
  margin-left: 0px;
}

.contact {
  margin-left: 20px;
}

.propert {
  margin-left: 20px;

}

.daysleft {
  margin-right: 15px;
}

tr {
  align-items: center;
  text-align: center;
}

.thtext {
  margin-left: 10px;
}

.image {
  margin-left: 5px;
}

.propertyls {
  margin-left: 5px;
}

.mobile {
  margin-left: 29px;
}

.areahead {
  margin-left: 3px;
}

.area {
  margin-left: 20px;
}