.headercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px;
}

.userid {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #b4b4c6;
}
.userid:hover {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #9494a2;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* font-size: 20px; */
  color: #b4b4c6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  /* min-width: 100px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 12px 16px; */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.username {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  /* font-size: 22px; */
  line-height: 25px;
  /* color: #A6A6A6; */
}

.headerbtmline {
  background: #e1f9f4;
  margin-top: 30px;
  height: 3px;
}
