@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

#root {
    font-family: sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    height: 130vh;
    background-color: #fafbfc;
}

aside {
    height: 100%;
    width: 20vw;
    background-color: #e1f9f4;
}

.right {
    height: 100vh;
    width: 80vw;
    background-color: #fafbfc;
}

nav {
    height: 15vh;
    width: 80vw;
    background-color: #e1f9f4;

}

.addANewProperty {
    position: absolute;
    left: 22.38%;
    right: 63.88%;
    top: 16.57%;
    bottom: 80.56%;

    width: 210px;
    height: 30px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    text-transform: uppercase;

    color: #7D7D7D;
}

.progress {
    position: absolute;
    left: 24.69%;
    right: 5.62%;
    top: 30.31%;
    bottom: 60.2%;

    background: #FFFFFF;
    box-shadow: 10px 14px 70px rgba(0, 0, 0, 0.03);
    border-radius: 500px;
    display: flex;
    justify-content: center;
}

.BasicInfo1 {
    position: absolute;
    right: 740px;
    padding-left: 15px;
    box-sizing: border-box;

    background: white;
    box-shadow: none;
    border-radius: 500px;
    width: 200px;
    height: 60px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

}

.BasicInfo1 p:first-child {
    display: inline-block;
    background: #E1F9F4;
    color: #A6A6A6;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
}

.BasicInfo1 p:nth-child(2) {
    display: inline-block;
    color: #A6A6A6;
}

.PropertyDetail1 {
    position: absolute;
    right: 500px;
    padding-left: 15px;
    background: #6AB4F8;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 500px;
    width: 200px;
    height: 60px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.PropertyDetail1 p:first-child {

    display: inline-block;
    background-color: #FFFFFF;
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
}

.PropertyDetail1 p:nth-child(2) {
    display: inline-block;
    color: white;
}

.GeneralInfo {
    position: absolute;
    right: 240px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 500px;
    width: 200px;
    height: 60px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.GeneralInfo p:first-child {
    display: inline-block;
    background: #E1F9F4;
    color: #A6A6A6;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
}

.GeneralInfo p:nth-child(2) {
    display: inline-block;
    color: #AAAAAA;
}

.LocationInfo {
    position: absolute;
    left: 750px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 500px;
    width: 200px;
    height: 60px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.LocationInfo p:first-child {
    display: inline-block;
    background: #E1F9F4;
    color: #A6A6A6;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
}

.LocationInfo p:nth-child(2) {
    display: inline-block;
    color: #AAAAAA;
}


.formBox label {
    display: block;
}

select {
    height: 40px;
    width: 320px;
    border: 1px solid #C3C3C3;
    border-radius: 8px;

}

input {
    height: 40px;
    width: 305px;
    border: 1px solid #C3C3C3;
    border-radius: 8px;
}

.leftFormBox {
    height: 55vh;
    width: 25vw;
    display: inline-block;
}

.rightFormBox {
    height: 55vh;
    width: 25vw;
    display: inline-block;
    margin-left: 60px;
}

input,
select {
    margin-bottom: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    /* identical to box height */
    color: #7D7D7D;
    padding-left: 10px;
}

input:hover,
select:hover {
    border: 1px solid black;
}

.buttonBox1 {
    width: 330px;
    height: 100px;
    margin-top: 35px;
    margin-left: 210px;
}

.buttonBox1 button:first-child {
    background: #6AB4F8;
    width: 145px;
    height: 50px;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 500px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    align-items: center;

    color: #FFFFFF;

}

.buttonBox1 button:first-child:hover {
    border: 2px solid #137de0;
}

.buttonBox1 button:nth-child(2) {
    background: #4C57B6;
    width: 145px;
    height: 50px;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 500px;
    margin-left: 30px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    align-items: center;

    color: #FFFFFF;

}

.buttonBox1 button:nth-child(2):hover {
    border: 2px solid rgb(3, 29, 53);
}